.botao {
    background-color: var(--redcolor);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    border: 5px solid linear-gradient(180deg,#ecc572 0,#815500);
    color: var(--textocolorprimaria);
    margin: 32px 0;
}

.botao:hover {
    color: #dcdddf;
    background-color: #f12b15d7;
}