* {
    box-sizing: border-box;
}

.campo-texto {
    margin: 24px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px; 
    font-size: 24px;
    color: var(--textocolorprimaria);
}

.campo-texto input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px var(--backgroundcolor);
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 24px;
    color: var( --textocolordark);
    box-sizing: border-box;
       
}

.campo-texto input:focus{
    border-bottom: 4px solid red;      
}

/* input:focus {
    
} */


.campo-texto > input::placeholder {
    color: var( --textocolordark);
}